@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,200&display=swap);
/* Google Fonts */
/* This file is for your main application css. */
.players-container {
  position: fixed;
  height: 100%;
  width: 15rem;
  right: 0;
  transition: .5s all;
  box-shadow: 1px 1px 4px 1px #888888;
  background: #68e4aa;
  padding: 0 1rem;
  align-items: center;
  display: flex;
  flex-direction: column; }
  .players-container h3 {
    color: white;
    width: 100%; }
  .players-container-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15rem; }

.players-container-hidden {
  width: 0;
  padding: 0; }
  .players-container-hidden .player-box {
    margin-right: -120%; }
  .players-container-hidden .players-toggle-icon {
    transform: rotateZ(180deg); }

.players-toggle {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  left: -2rem;
  width: 2rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  background: #68e4aa;
  box-shadow: -2px 1px 2px 1px #cecece; }
  .players-toggle .players-toggle-icon {
    transition: all .5s;
    width: 24px; }

.player-box {
  margin-bottom: 1rem;
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  background: white;
  display: flex;
  box-shadow: 1px 1px 4px 1px #888888;
  transition: all .5s;
  opacity: 1; }

.player-box-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center; }

.player-avatar {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  border: 3px solid; }

.role-sm {
  border-color: #de3366;
  background: white; }

.role-po {
  border-color: orange;
  background: white; }

.role-dev {
  border-color: #3366de;
  background: white; }

.player-card-box {
  width: 100%;
  padding: 0 .5rem; }

.player-cards {
  display: flex;
  flex-direction: row; }

.player-card-preview {
  z-index: 9999;
  position: absolute;
  margin-left: -250px;
  margin-top: -196px;
  display: none; }

.player-card:hover .card-image {
  box-shadow: 1px 1px 4px 1px #68e4aa; }

.player-card:hover > .player-card-preview {
  display: block;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 1px #888888; }

.player-card .card-image {
  border-radius: 2px;
  margin: 0 .25rem;
  box-shadow: 1px 1px 4px 1px #888888; }

.player-name {
  font-weight: bold; }

.player-role {
  padding: 0 .25rem;
  border-radius: 20%;
  margin-top: -.25rem;
  font-weight: bold;
  color: white;
  font-size: .75rem; }
  .player-role-po {
    background: orange; }
  .player-role-sm {
    background: #de3366; }
  .player-role-dev {
    background: #3366de; }

.product-backlog, .sprint-backlog {
  display: flex;
  flex-direction: row;
  padding-top: 2rem; }
  .product-backlog-container, .sprint-backlog-container {
    margin-top: 2rem;
    padding: 1rem;
    position: relative; }
  .product-backlog-title, .sprint-backlog-title {
    z-index: 30;
    position: absolute;
    left: 0;
    color: white;
    font-weight: bold;
    background: #68e4aa;
    top: -1.5rem;
    border: 2pt solid #68e4aa;
    border-radius: 0 1rem 1rem 0;
    padding: .5rem 1rem;
    box-shadow: 3px 3px 3px #ccc; }

.backlog-item, .sprint-item {
  margin-right: 1rem;
  position: relative;
  text-align: center;
  max-width: 6rem; }
  .backlog-item-goal, .sprint-item-goal {
    position: absolute;
    left: 25%;
    top: -12%;
    width: 50%; }
  .backlog-item-done, .sprint-item-done {
    color: white;
    background-color: #3366de;
    border: 2pt solid #3366de;
    padding: 0 .5rem;
    border-radius: .5rem;
    font-weight: bold; }

.backlog-item-image {
  border-radius: .5rem;
  box-shadow: 3px 3px 3px #ccc;
  max-width: 6rem; }

.backlog-item-index {
  color: black;
  position: absolute;
  width: 1.5rem;
  top: -1.4rem;
  z-index: -1;
  left: 40%;
  border-radius: .5rem .5rem 0 0;
  font-weight: bold; }

.backlog-item-value {
  color: #dbc608;
  border: 2pt solid #dbc608;
  padding: 0 .25rem;
  border-radius: .5rem;
  font-weight: bold;
  margin: .5rem 0; }

.backlog-item-size {
  color: #3366de;
  border: 2pt solid #3366de;
  padding: 0 .25rem;
  border-radius: .5rem;
  font-weight: bold; }

.draggable-handle {
  cursor: -webkit-grab;
  cursor: grab; }

.draggable-mirror {
  border: 1px dotted #eee; }

.draggable-container--is-dragging {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06); }

.draggable-source--is-dragging {
  background: #ccc;
  opacity: 0.25; }

.impediment-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(50, 50, 50, 0.3);
  text-align: center;
  border: 2pt rgba(50, 50, 50, 0.3); }

.impediment-card {
  position: relative;
  top: 5%;
  margin: 0 1rem;
  height: 90%;
  border-radius: 1rem; }

.player-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  justify-content: space-between;
  grid-area: actions;
  background: #e8e8e8;
  min-height: 40px; }

.my-cards {
  z-index: 50;
  margin: -5rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }
  .my-cards-image {
    border-radius: .75rem;
    box-shadow: 3px 3px 3px #ccc;
    transition: .5s all;
    margin: 0 1rem; }
  .my-cards-image:hover {
    margin-top: -3rem;
    cursor: pointer; }
  .my-cards-image-selected {
    margin-top: -3rem;
    cursor: pointer;
    box-shadow: 1px 1px 16px 1px #68e4aa; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif; }

.button {
  font-family: 'Nunito', sans-serif;
  background: white;
  font-weight: bold;
  border: 1pt solid black;
  border-radius: .5rem; }

.game-board {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch; }

.game-table {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: auto; }

/* Make clicks pass-through */
#nprogress {
  pointer-events: none; }

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; }

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px); }

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px; }

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem; }

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none; }

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out; }

.phx-disconnected {
  cursor: wait; }

.phx-disconnected * {
  pointer-events: none; }

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* Alerts and form errors */
.alert {
  margin-top: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
  position: fixed;
  z-index: 9999;
  transition: .75s; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.alert p {
  margin-bottom: 0; }

.alert:empty {
  top: -200px; }


/*# sourceMappingURL=app.css.map*/