@import "./variables.scss";

.player-actions{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  justify-content: space-between;
  grid-area: actions;
  background: $gray;
  min-height: 40px;
}

.my-cards {
  z-index: 50;
  margin: -5rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  &-image{
    border-radius: .75rem;
    box-shadow: $card-shadow;
    transition: .5s all;
    margin: 0 1rem;
  }

  &-image:hover{
    margin-top: -3rem;
    cursor: pointer;
  }

  &-image-selected{
    margin-top: -3rem;
    cursor: pointer;
    box-shadow: $card-shadow-highlight;
  }
}
