@import "./variables.scss";

.product-backlog, .sprint-backlog {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;

  &-container{
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
  }

  &-title {
    z-index: 30;
    position: absolute;
    left: 0;
    color: white;
    font-weight: bold;
    background: $green;
    top: -1.5rem;
    border: 2pt solid $green;
    border-radius: 0 1rem 1rem 0;
    padding: .5rem 1rem;
    box-shadow: $card-shadow;
  }
}

.backlog-item, .sprint-item {
  margin-right: 1rem;
  position: relative;
  text-align: center;
  max-width: 6rem;

  &-goal {
    position: absolute;
    left: 25%;
    top: -12%;
    width: 50%;
  }

  &-done {
    color: white;
    background-color: $blue;
    border: 2pt solid $blue;
    padding: 0 .5rem;
    border-radius: .5rem;
    font-weight: bold;
  }
}

.backlog-item-image{
  border-radius: .5rem;
  box-shadow: $card-shadow;
  max-width: 6rem;
}

.backlog-item-index{
  color: black;
  position: absolute;
  width: 1.5rem;
  top: -1.4rem;
  z-index: -1;
  left: 40%;
  border-radius: .5rem .5rem 0 0;
  font-weight: bold;
}

.backlog-item-value{
  color: $dark-yellow;
  border: 2pt solid $dark-yellow;
  padding: 0 .25rem;
  border-radius: .5rem;
  font-weight: bold;
  margin: .5rem 0;
}

.backlog-item-size{
  color: $blue;
  border: 2pt solid $blue;
  padding: 0 .25rem;
  border-radius: .5rem;
  font-weight: bold;
}

.draggable-handle {
  cursor: grab;
}

.draggable-mirror {
  border: 1px dotted #eee;
}

.draggable-container--is-dragging {
  @apply shadow-inner;
}

.draggable-source--is-dragging {
  background: #ccc;
  opacity: 0.25;
}

.impediment-overlay{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: $overlay-color;
  text-align: center;
  border: 2pt $overlay-color;
}

.impediment-card {
  position: relative;
  top: 5%;
  margin: 0 1rem;
  height: 90%;
  border-radius: 1rem;
}
