@import "./variables.scss";

.players-container {
  position: fixed;
  height: 100%;
  width: 15rem;
  right: 0;

  transition: .5s all;
  box-shadow: 1px 1px 4px 1px #888888;
  background: $green;
  padding: 0 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;

  h3 {
    color: white;
    width: 100%;
  }

  &-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
  }
}

.players-container-hidden {
  width: 0;
  padding: 0;

  .players-container-content {
  }

  .player-box{
    margin-right: -120%;
  }


  .players-toggle-icon {
    transform: rotateZ(180deg);
  };
}

.players-toggle {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  left: -2rem;;
  width: 2rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  background: $green;
  box-shadow: -2px 1px 2px 1px #cecece;

  .players-toggle-icon {
    transition: all .5s;
    width: 24px;
  }
}



.player-box {
  margin-bottom: 1rem;
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  background: white;
  display: flex;
  box-shadow: 1px 1px 4px 1px #888888;
  transition: all .5s;
  opacity: 1;
}

.player-box-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
}

.player-avatar {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  border: 3px solid;
}

.role-sm{
  border-color: $red;
  background: white;
}

.role-po{
  border-color: $orange;
  background: white;
}

.role-dev{
  border-color: $blue;
  background: white;
}

.player-card-box{
  width: 100%;
  padding: 0 .5rem;
}

.player-cards{
  display: flex;
  flex-direction: row;
}

.player-card-preview {
  z-index: 9999;
  position: absolute;
  margin-left: -250px;
  margin-top: -196px;
  display: none;
}

.player-card:hover .card-image{
  box-shadow: 1px 1px 4px 1px $green;
}

.player-card:hover > .player-card-preview{
  display: block;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 1px #888888;
}

.player-card .card-image {
  border-radius: 2px;
  margin: 0 .25rem;
  box-shadow: 1px 1px 4px 1px #888888;
}

.player-name{ 
  font-weight: bold;
}

.player-role{
  padding: 0 .25rem;
  border-radius: 20%;
  margin-top: -.25rem;
  font-weight: bold;
  color: white;
  font-size: .75rem;

  &-po{
    background: $orange;
  }

  &-sm{
    background: $red;
  }

  &-dev{
    background: $blue;
  }


}
