@import "./variables.scss";
@import "./players.scss";
@import "./backlog.scss";
@import "./actions.scss";

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.button {
  font-family: 'Nunito', sans-serif;
  background: white;
  font-weight: bold;
  border: 1pt solid black;
  border-radius: .5rem;
}

.game-board {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.game-table {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: auto;
}

