$gray: #e8e8e8;
$dark-gray: darken($gray, 25%);

$orange: orange;
$yellow: #f9e850;
$dark-yellow: darken($yellow, 20%);
$blue: #3366de;

$green: #68e4aa;
$dark-green: darken($green, 25%);

$red: #de3366;

$overlay-color: rgba(50, 50, 50, .3);

$card-shadow: 3px 3px 3px #ccc;
$card-shadow-highlight: 1px 1px 16px 1px $green;

$bottom-bar-size: 10rem;
$bottom-bar-padding: 20rem;
