<section>
  <h1>Scrumchkin</h1>
  <span>Game work_deck: <%= @game.work_deck %></span>
  <br />
  <span>Game players: <%= @players %></span>

  <br />
  <br />
  <br />
  <h2>Jogadores:</h2>

  <%= for player <- @game.players do %>
  <div class="card">
    <b><%= player.name %></b>: <%= Enum.count(player.hand) %> cartas <%= for
    card <- player.hand do %>
    <span> <%= card.name %> </span>
    <% end %> <%= if player.actions > 0 do %>
    <button phx-click="draw-card" phx-value-player_id="<%= player.id %>">
      Comprar carta
    </button>
    <% end %>
  </div>
  <% end %>

  <br />
  <br />
  <br />

  <form phx-submit="add-player">
    <input type="text" name="name" />
  </form>
</section>
